.main_page
  .header
    = render partial: "header"

  .body
    サンプル
  .footer
    %address
      %p 日本大学大学院法務研究科・法学部 教授 清水恵介
      %p 連絡先：
      %p 〒101－8375 東京都千代田区三崎町2-3-1日本大学法学部
      %a{href:"mailto:keisuke@law.nihon-u.ac.jp"}keisuke@law.nihon-u.ac.jp


