.main_page {
  width: 100%;
  height: calc(100vh - 100px);

  .body {
    width: 100%;
    height: calc(100vh - 200px);
    background-image: url("山.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    // z-index: -1;
  }

  .footer {
    width: 100%;
    height: 100px;
    background-color: rgb(10, 176, 241);
    position: absolute;
    bottom: 0;
  }

  address {
    margin: 5px 0 0 20px;
  }
  
}

  .alert {
    background-color:red;
    text-align: center;
  }

  .notice {
    background-color: rgb(98, 245, 79);
    text-align: center;
  }
  
  .header {
    width: 100%;
    height: 100px;
    background-color: rgb(10, 176, 241);
    position: fixed;
    top: 0;
    z-index: 1;

    .menu {
      width: 100%;
      position: absolute;
      bottom: 0;
      vertical-align: bottom;
      z-index: 1;
      display:flex
    }
    
    .select {
      width: 100%;
      height: 100%;
      padding: 10px;
      position: relative;
      text-align: center;
    }

    .select:hover {
      color: white;
      font-size: 15px;
    }
    
    .select a {
      width: 100%;
      height:100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .select a:hover{/* マウスオーバー時に色変更*/
      opacity: 0.1;
      background-color: white;
    }
    
  }



  .bg {
    animation:slide 30s ease-in-out infinite alternate;
    background-image: linear-gradient(50deg, rgb(191, 51, 204) 40%, rgb(9, 216, 231) 10%);
    bottom:0;
    left:-50%;
    opacity: .1;
    position:fixed;
    right:-50%;
    top:0;
    z-index: -1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:10s;
  }
  
  .bg3 {
    animation-duration:12s;
  }
  
  .content {
    width: 70%;
    height: calc(100% - 200px);
    background-color:rgba(255,255,255,.8);
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }